.projects-heading-mobile {
  display: none;
}

.projects-heading-desktop {
  font-size: 4rem;
  font-weight: 400;
}

.projects-main-div {
  display: flex;
  overflow: hidden;
}

.projects-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.projects-text {
  margin: 1.5rem 0rem 0rem;
  flex: 1;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Poppins Light";
}

.projects-text-div {
  display: flex;
  flex-direction: column;
}

.projects-links-and-software-skills-container {
  display: flex;
  flex-direction: column;
}

.projects-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.projects-text-div {
}

.projects-image-div {
}

.software-skills-container {
  display: flex;
  justify-content: center;
}

/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .projects-main-div {
    flex-direction: column;
  }

  .projects-heading-desktop {
    display: none;
  }

  .projects-link {
    margin: 0rem 0rem 1rem;
  }

  .projects-text {
    margin: 0rem 0rem 2rem;
  }

  .projects-heading-mobile {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem 0rem;
    font-size: 4rem;
    font-weight: 400;
  }

  .project-title {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .projects-main-div {
    margin: 0rem 0rem 1rem;
  }
}
