.footer-text {
  padding: 2rem;
  text-align: center;
  /* color: #868e96; */
  font-weight: bold;
  font-family: "Google Sans Regular";
}

.footer-div {
  margin: 5rem 0rem 2rem;
  display: flex;
  justify-content: center;
}
